body {
  background-color: skyblue;
}

h1 {
  text-align: center;
  padding-bottom: 50px;
  font-size: 2.4em;
  font-weight: 200;
  letter-spacing: .07em;
  color: white;
}

.frame {
    height: 3000px;
}

svg {
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  max-width: 480px;
  max-height: 340px !important;
}

path {
    stroke-dashoffset: 1000;
    stroke-dasharray: 800;
}